@use 'abstracts' as *;

:host {
  display: block;
}

.route-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  &__empty {
    padding: var(--space-xl);
    text-align: center;
    color: var(--color-text-muted);
  }
}
